input[type=text], [type=email], [type=password] {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: beige;

}

input[type=submit]{
    float: right;
    background-color: darkolivegreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    border-radius: 12px;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: olivedrab;
}

#ButtonBack{
    background-color: rgba(0,0,0, 0.9);
    font-size: 24px;
    color: #818181;
    width: 200px;
    border: none;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    text-decoration: none;
}

#ButtonRegister {
    background-color: darkslateblue;
    color: white;
    border-radius: 12px;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    border: none;
}

#ButtonRegister:hover {
    background-color: slateblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form {
    padding-bottom: 48px;
}

